@page "/Articulos"
@page "/Articulo/{ArticuloId:int}"

@inject IToastService Toast

<h3>RArticulos</h3>

@code {

    Articulos articulos = new Articulos();

    [Parameter]
    public int ArticuloId { get; set; }

    [Inject]
    private ArticulosBLL articulosBLL { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    public void Nuevo()
    {
        Limpiar();
    }

    public void Limpiar()
    {
        this.articulos = new Articulos();
    }

    public async void Buscar()
    {
        var articulo = await articulosBLL.Buscar(articulos.ArticuloId);
        if(articulo != null)
        {
            this.articulos = articulo;
        }
        else
        {
            Toast.ShowInfo("No se encontro el registro");
        }
    }

    public async void Guardar()
    {
        if (await articulosBLL.Guardar(articulos))
        {
            Toast.ShowSuccess("Guardado");
            Limpiar();
        }
        else
        {
            Toast.ShowError("No fue posible guardar");
        }
    }



}
